* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #19A1AE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 40vw bottom 50vh, left 40vw top 40vh;
}

.main-container {
    width: 326px;
    height: 390px;
    box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
    border-radius: 15px;
    background-color: #FFFFFF;
    /* overflow: hidden; */
    margin: 0 1rem;
}

.bg-img {
    max-width: 100%;
    border-radius: 15px 15px 0 0;
}

.part-1 {
    position: relative;
}

.bg-white-for-avatar {
    width: 96px;
    height: 96px;
    background-color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: -50.5px;
    left: calc(50% - 50.5px);
    display: flex;
    justify-content: center;
}

.img-avatar {
    border-radius: 50%;
}

.part-2 {
    margin-top: 68px;
}

.name-age {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2E3349;
}

.age {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #6B7082;
    margin-left: 8.5px;
}

.city {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6B7082;
    margin:13px 0 28px;
}

hr {
    border: none;
    height: 1px;
    background-color: #E8E9EC;
}

.part-3 {
    display: flex;
    justify-content: space-around;
}

.numbers {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2E3349;
    margin: 24px 0 9px;
}

.txt-for-numbers {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #6B7082;
    margin-bottom: 27px;
}

.followers, .likes, .photos {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.attribution {
    color: #FFFFFF;
    margin: 16px 0; 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: #FFFFFF; 
}


@media only screen and (min-width: 992px) {
    .main-container {
        width: 350px;
    }
}